@model DBL.Entities.Collectioncenterparcels
@{
    var Collectioncenter = ViewData["Collectioncenterlists"] as List<SelectListItem>;
    var ParcelSenderReciever = ViewData["ParcelSenderRecieverlists"] as List<SelectListItem>;
    var Parceltypes = ViewData["Parceltypeslists"] as List<SelectListItem>;
    var Parcelstatus = ViewData["Parcelstatuslists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Collection Detail</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.Parcelid" id="Parcelid" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="font-weight-light">Collection Center</label>
                <select class="form-control form-control-sm" asp-for="@Model.Collectioncenterid" asp-items="@Collectioncenter" id="Collectioncenterid">
                    <option value="">---Select---</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Pickup Date</label>
                <input class="form-control form-control-sm" readonly id="Pickupdateid" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Sender</label>
                <select class="form-control form-control-sm" asp-for="@Model.Senderid" asp-items="@ParcelSenderReciever" id="Senderid">
                    <option value="">---Select---</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Reciever</label>
                <select class="form-control form-control-sm" asp-for="@Model.Receiverid" asp-items="@ParcelSenderReciever" id="Receiverid">
                    <option value="">---Select---</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Parcel Type</label>
                <select class="form-control form-control-sm" asp-for="@Model.Parceltypeid" asp-items="@Parceltypes" id="Parceltypeid">
                    <option value="">---Select---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Parcel Weight</label>
                <input class="form-control form-control-sm" asp-for="@Model.Parcelweight" id="Parcelweightid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Parcel Dimension</label>
                <input class="form-control form-control-sm" asp-for="@Model.Dimensions" id="Dimensionsid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Parcel Status</label>
                <select class="form-control form-control-sm" asp-for="@Model.Parcelstatusid" asp-items="Parcelstatus" id="Parcelstatusid">
                    <option value="">---Select---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Drop off Date</label>
                <input class="form-control form-control-sm" type="date" onchange="calculatePickupDate()" asp-for="@Model.Dropoffdate" id="Dropoffdateid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Transit Days</label>
                <input class="form-control form-control-sm" type="number" onchange="calculatePickupDate()" asp-for="@Model.Transitdays" id="Transitdaysid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Deliverly Fee</label>
                <input class="form-control form-control-sm" type="number" asp-for="@Model.Deliveryfee" id="Deliveryfeeid" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savecollectioncenterparcelid" onclick="savesavecollectioncenterparceldata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
