@model IEnumerable<DBL.Entities.Parcelcollectioncenters>
@{
    ViewData["Title"] = "Collections";
    Layout = "~/Views/Shared/_Layoutauth.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h6 class="font-weight-bold text-sm card-title">Collection</h6>
                    </div>
                    <div class="col-sm-2">
                        <a asp-action="Addcollectioncenter" asp-controller="Parceldrop" asp-route-code="@Guid.NewGuid()" asp-route-Collectioncenterid="0" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase float-right" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Center</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm text-nowrap nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Hours</th>
                            <th>Status</th>
                            <th>Manager</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Collectionname </td>
                                    <td>@item.Phonenumber</td>
                                    <td>@item.Operatinghours</td>
                                    <td class="text-nowrap">
                                        @if (item.Collectionstatus == 0)
                                        {
                                            <span class="badge badge-info badge-info-xs text-uppercase">Validated</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger badge-info-xs  text-uppercase">Not Validated</span>
                                        }
                                    </td>
                                    <td>@item.Managername</td>
                                    <td class="text-right nowrap text-nowrap">
                                        <a asp-action="Addcollectioncenter" asp-controller="Parceldrop" asp-route-code="@Guid.NewGuid()" asp-route-Collectioncenterid="@item.Collectioncenterid" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
            ﻿function saveparcelcollectioncenterdata() {
            document.getElementById("saveparcelcollectioncenterid").disabled = true;
            document.getElementById("processingSpinner").style.display = "inline-block";
            document.getElementById("buttonText").innerText = "Processing...";
            if ($("#Collectionnameid").val() === "") {
                $("#Collectionnameid").addClass('is-invalid');
                 document.getElementById("saveparcelcollectioncenterid").disabled = false;
                 document.getElementById("processingSpinner").style.display = "none";
                 document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Collectionnameid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Collectionaddressid").val() === "") {
                $("#Collectionaddressid").addClass('is-invalid');
                 document.getElementById("saveparcelcollectioncenterid").disabled = false;
                 document.getElementById("processingSpinner").style.display = "none";
                 document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Collectionaddressid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Phonenumberid").val() === "") {
                $("#Phonenumberid").addClass('is-invalid');
                 document.getElementById("saveparcelcollectioncenterid").disabled = false;
                 document.getElementById("processingSpinner").style.display = "none";
                 document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Phonenumberid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Operatinghoursid").val() === "") {
                $("#Operatinghoursid").addClass('is-invalid');
                 document.getElementById("saveparcelcollectioncenterid").disabled = false;
                 document.getElementById("processingSpinner").style.display = "none";
                 document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Operatinghoursid").removeClass('is-invalid').addClass('is-valid');
            }

            var uil = {
                Collectioncenterid : $('#Collectioncenterid').val(),
                Collectionname: $('#Collectionnameid').val(),
                Collectionaddress: $('#Collectionaddressid').val(),
                Phonenumber: $('#Phonenumberid').val(),
                Operatinghours: $('#Operatinghoursid').val(),
                Collectionstatus: 1,
                Managerid: $('#systemLoggedinedUserid').val(),
            };
            $.post("/Parceldrop/Addparcelcollectioncenterdata", uil, function (response) {
                if (response.RespStatus == 0) {
                    Swal.fire("Collection Detail", "Staff has been added and email sent.", "success");
                    setTimeout(function () { location.reload(); }, 500);
                } else {
                    Swal.fire("Collection Detail Not Created", response.RespMessage, "error");
                }
                document.getElementById("saveparcelcollectioncenterid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
            });
        }
    </script>
}
