@model IEnumerable<DBL.Entities.Collectioncenterparcels>
@{
    ViewData["Title"] = "Parcels";
    Layout = "~/Views/Shared/_Layoutauth.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h6 class="font-weight-bold text-sm card-title">Parcels</h6>
                    </div>
                    <div class="col-sm-2">
                        <a asp-action="Addcollectionparcel" asp-controller="Parceldrop" asp-route-code="@Guid.NewGuid()" asp-route-Parcelid="0" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase float-right" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Parcel</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm text-nowrap nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sender</th>
                            <th>Reciever</th>
                            <th>Pickup Center</th>
                            <th>Delivery Center</th>
                            <th>Parcel Type</th>
                            <th>Weight</th>
                            <th>Dimension</th>
                            <th>Status</th>
                            <th>Fee</th>
                            <th>Dropoff Date</th>
                            <th>Collection Date</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Trackingnumber</td>
                                    <td>@item.Sendername</td>
                                    <td>@item.Recievername</td>
                                    <td>@item.Pickupcentername</td>
                                    <td>@item.Deliverycentername</td>
                                    <td>@item.Parceltypename</td>
                                    <td>@item.Parcelweight</td>
                                    <td>@item.Dimensions</td>
                                    <td>@item.Parcelstatusname</td>
                                    <td>@item.Deliveryfee.ToString("#,##0.00")</td>
                                    <td>@item.Dropoffdate.ToString("yyyy-MM-dd")</td>
                                    <td>@item.Pickupdate.ToString("yyyy-MM-dd")</td>
                                    <td class="text-right nowrap text-nowrap">
                                        <a asp-action="Addcollectionparcel" asp-controller="Parceldrop" asp-route-code="@Guid.NewGuid()" asp-route-Parcelid="@item.Parcelid" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function calculatePickupDate() {
            // Get the drop-off date and transit days
            var dropOffDateValue = $('#Dropoffdateid').val();
            var transitDaysValue = $('#Transitdaysid').val();

            // If drop-off date is empty, set it to today's date as a default
            var dropOffDate = dropOffDateValue ? new Date(dropOffDateValue) : new Date();

            // If transit days is empty, set it to 0 as a default
            var transitDays = transitDaysValue ? parseInt(transitDaysValue) : 0;

            // Check if both values are valid before proceeding
            if (!isNaN(dropOffDate.getTime()) && !isNaN(transitDays)) {
                // Add the transit days (converted to milliseconds) to the drop-off date
                var pickupDate = new Date(dropOffDate.getTime() + transitDays * 24 * 60 * 60 * 1000);

                // Format the date as dd/MM/yyyy
                var day = String(pickupDate.getDate()).padStart(2, '0');
                var month = String(pickupDate.getMonth() + 1).padStart(2, '0'); // Months are 0-based
                var year = pickupDate.getFullYear();
                var formattedDate = `${day}/${month}/${year}`;
                // Set the value of the pickup date field
                $('#Pickupdateid').val(formattedDate);
            } else {
                console.error("Invalid date or transit days");
            }
        }
        ﻿function savesavecollectioncenterparceldata() {
            document.getElementById("savecollectioncenterparcelid").disabled = true;
            document.getElementById("processingSpinner").style.display = "inline-block";
            document.getElementById("buttonText").innerText = "Processing...";
            if ($("#Pickupcenterid").val() === "" || $("#Pickupcenterid").val() === 0) {
                $("#Pickupcenterid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Pickupcenterid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Deliverycenterid").val() === "" || $("#Deliverycenterid").val() === 0) {
                $("#Deliverycenterid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Deliverycenterid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Pickupdateid").val() === "") {
                $("#Pickupdateid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Pickupdateid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Senderid").val() === ""||$("#Senderid").val() === 0) {
                $("#Senderid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Senderid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Receiverid").val() === ""||$("#Receiverid").val() === 0) {
                $("#Receiverid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Receiverid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Parceltypeid").val() === ""||$("#Parceltypeid").val() === 0) {
                $("#Parceltypeid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Parceltypeid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Parcelstatusid").val() === ""||$("#Parcelstatusid").val() === 0) {
                $("#Parcelstatusid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Parcelstatusid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Parcelweightid").val() === "") {
                $("#Parcelweightid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Parcelweightid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Dimensionsid").val() === "") {
                $("#Dimensionsid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Dimensionsid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Dropoffdateid").val() === "") {
                $("#Dropoffdateid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Dropoffdateid").removeClass('is-invalid').addClass('is-valid');
            }
            if ($("#Transitdaysid").val() === "") {
                $("#Transitdaysid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Transitdaysid").removeClass('is-invalid').addClass('is-valid');
            }
                if ($("#Deliveryfeeid").val() === ""|| $("#Deliveryfeeid").val() === 0) {
                $("#Deliveryfeeid").addClass('is-invalid');
                    document.getElementById("savecollectioncenterparcelid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                return;
            } else {
                $("#Deliveryfeeid").removeClass('is-invalid').addClass('is-valid');
            }

            var uil = {
                Parcelid: $('#Parcelid').val(),
                Senderid: $('#Senderid').val(),
                Receiverid: $('#Receiverid').val(),
                Pickupcenterid: $('#Pickupcenterid').val(),
                Deliverycenterid: $('#Deliverycenterid').val(),
                Parceltypeid: $('#Parceltypeid').val(),
                Parcelweight: $('#Parcelweightid').val(),
                Dimensions: $('#Dimensionsid').val(),
                Parcelstatusid: $('#Parcelstatusid').val(),
                Transitdays: $('#Transitdaysid').val(),
                Deliveryfee: $('#Deliveryfeeid').val(),
                Pickupdate: $('#Pickupdateid').val(),
                Dropoffdate: $('#Dropoffdateid').val(),
                Createdby:$('#systemLoggedinedUserid').val(),
                Createddate: new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0].replace('T', ' ')
            };
            $.post("/Parceldrop/Addcollectioncenterparceldata", uil, function (response) {
                if (response.RespStatus == 0) {
                    Swal.fire("Parcels Detail", "Staff has been added and email sent.", "success");
                    setTimeout(function () { location.reload(); }, 500);
                } else {
                    Swal.fire("Parcels Detail Not Created", response.RespMessage, "error");
                }
                document.getElementById("saveparcelcollectioncenterid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
            });
        }
    </script>
}
