@model DBL.Entities.Parceltransactions
@{
    var Systempaymentmodetype = ViewData["Systempaymentmodetypelists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Assign Cuorier Detail</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.Transactionid" id="Transactionid" hidden />
            <input asp-for="@Model.Parcelid" id="Parcelid" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="font-weight-light">Payment Mode</label>
                <select class="form-control form-control-sm" asp-for="@Model.Paymentmethodid" asp-items="@Systempaymentmodetype" id="Paymentmethodid">
                    <option value="">---Select---</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Deliverly Fee</label>
                <input class="form-control form-control-sm" type="number" readonly asp-for="@Model.Amount" id="Deliveryamountid" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savecollectioncenterparcelpaymentid" onclick="savecollectioncenterparcelpaymentdata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
