@model DBL.Entities.Systemproducts
@{
    var Systemcategory = ViewData["Systemsubcategorylists"] as List<SelectListItem>;
    var Systembrand = ViewData["Systembrandlists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Product</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.Productid" id="Productid" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="font-weight-light">Product Name</label>
                <input class="form-control form-control-sm" asp-for="@Model.Productname" id="Productnameid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Bar Code</label>
                <input class="form-control form-control-sm" asp-for="@Model.Productbarcode" id="Productbarcodeid" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="font-weight-light">Product Description</label>
                <textarea class="form-control form-control-sm" asp-for="@Model.Productdescription" id="Productdescriptionid"></textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Product Sku</label>
                <input class="form-control form-control-sm" asp-for="@Model.Sku" id="Productskuid" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Category</label>
                <select class="form-control form-control-sm" asp-items="@Systemcategory" asp-for="@Model.Categoryid" id="Categoryid">
                    <option value="0">---Select---</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Brand</label>
                <select class="form-control form-control-sm" asp-items="@Systembrand" asp-for="@Model.Brandid" id="Brandid">
                    <option value="0">---Select---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Wholesale Price</label>
                <input class="form-control form-control-sm" asp-for="@Model.Wholesaleprice" id="Wholesalepriceid" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Retail Price</label>
                <input class="form-control form-control-sm" asp-for="@Model.Retailprice" id="Retailpriceid" />
            </div>
        </div>
    </div>
    @if (Model.Productid == 0)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="font-weight-light">Product Image</label>
                    <input class="form-control form-control-sm font-weight-light" type="file" onchange="productFileChanged(event)" />
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-12" hidden>
            <div class="form-group">
                <label class="font-weight-light">Images Url</label>
                <input class="form-control form-control-sm" id="UttambsolutionsimagesurlId" readonly />
            </div>
        </div>
        <div id="Uttambsolutionsimagespreviewcontainer"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystemtproductid" onclick="savesystemtproductdata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
