@model DBL.Entities.Systempropertyhouserooms
@{
    var Systempropertyhousesize = ViewData["Systempropertyhousesizelists"] as List<SelectListItem>;
    var Systemkitchentype = ViewData["Systemkitchentypelists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">House Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <input class="form-control form-control-sm" asp-for="@Model.Systempropertyhouseid" id="Systempropertyhouseid" hidden />
        <input class="form-control form-control-sm" asp-for="@Model.Systempropertyhouseroomid" id="Systempropertyhouseroomid" hidden />
        <input class="form-control form-control-sm" type="checkbox" asp-for="@Model.Hashousewatermeter" id="Systempropertyhousehashousewatermeterid" hidden />
    </div>
    <div id="section1" class="section">
        <h6 class="mb-4">Step 1: House Room Details and Fees</h6>
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="font-weight-light">Kitchen Type</label>
                        <select class="form-control form-control-sm" asp-for="@Model.Kitchentypeid" asp-items="@Systemkitchentype" id="Kitchentypeid" required>
                            <option value="">---Select---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="font-weight-light">Size Name</label>
                        <select class="form-control form-control-sm" asp-for="@Model.Systempropertyhousesizeid" asp-items="@Systempropertyhousesize" id="Systempropertyhousesizeid" required>
                            <option value="">---Select---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="font-weight-light">House Room #</label>
                        <input class="form-control form-control-sm" asp-for="@Model.Systempropertyhousesizename" id="Systempropertyhousesizenameid" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.Forcaretaker" id="Forcaretakerid" />
                        <label class="form-check-label text-sm" for="Forcaretakerid">For Caretaker?</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.Isshop" id="Isshopid" />
                        <label class="form-check-label text-sm" for="Isshopid">Is Shop?</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.Isgroundfloor" id="Isgroundfloorid" />
                        <label class="form-check-label text-sm" for="Isgroundfloorid">Ground Floor?</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.Hasbalcony" id="Hasbalconyid" />
                        <label class="form-check-label text-sm" for="Hasbalconyid">Has Balcony?</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.Isunderrenovation" id="Isunderrenovationid" />
                        <label class="form-check-label" for="Isunderrenovationid">Under Renovation?</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-weight-light">Rent Amount</label>
                        <input class="form-control form-control-sm" asp-for="@Model.Systempropertyhousesizerent" id="Systempropertyhousesizerentid" required />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-weight-light">Occupants</label>
                        <input class="form-control form-control-sm" asp-for="@Model.Roomoccupant" id="Systempropertyhouseroomoccupantid" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="font-weight-light">Occupants Details</label>
                        <input class="form-control form-control-sm" asp-for="@Model.Roomoccupantdetail" id="Systempropertyhouseroomoccupantdetailid" />
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-right" onclick="nextSection()">Next</button>
    </div>

    <div id="section2" class="section" style="display: none;">
        <h6 class="mb-4">Step 2: House Meters</h6>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered table-striped compact table-sm nowrap text-nowrap w-100" id="roommeterreadingtable">
                    <thead>
                        <tr>
                            <th hidden>Meterid</th>
                            <th hidden>Roomsizeid</th>
                            <th class="font-weight-light fw-light text-sm">Meter</th>
                            <th class="font-weight-light fw-light text-sm">Opening</th>
                            <th class="font-weight-light fw-light text-sm">Closing</th>
                            <th class="font-weight-light fw-light text-sm">Units</th>
                            <th class="font-weight-light fw-light text-sm">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td hidden><input type="text" class="form-control form-control-sm font-weight-light system-property-house-meterid" value="@Model.Systempropertyhousemeterid" /></td>
                            <td hidden><input type="text" class="form-control form-control-sm font-weight-light system-property-house-roomid" value="@Model.Systempropertyhouseroomid" /></td>
                            <td><input type="text" class="form-control form-control-sm font-weight-light system-property-house-room-meter-number" value="@Model.Systempropertyhouseroommeternumber" /></td>
                            <td><input type="text" class="form-control form-control-sm font-weight-light system-property-house-room-opening-meter" readonly="@Model.Hasprevious" value="@Model.Openingmeter"/></td>
                            <td><input type="number" class="form-control form-control-sm font-weight-light system-property-house-room-closing-meter" value="@Model.Closingmeter" required /></td>
                            <td><input type="number" class="form-control form-control-sm font-weight-light system-property-house-room-moved-meter" value="@Model.Movedmeter" readonly /></td>
                            <td><input type="number" class="form-control form-control-sm font-weight-light system-property-house-room-meter-cost" value="@Model.Consumedamount" readonly /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered table-striped compact table-sm nowrap text-nowrap w-100" id="AllsystemDataTables1">
                    <thead>
                        <tr>
                            <th class="font-weight-light fw-light text-sm">Meter</th>
                            <th class="font-weight-light fw-light text-sm">Opening</th>
                            <th class="font-weight-light fw-light text-sm">Closing</th>
                            <th class="font-weight-light fw-light text-sm">Units</th>
                            <th class="font-weight-light fw-light text-sm">Bill</th>
                            <th class="font-weight-light fw-light text-sm">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Meterhistorydata != null)
                        {
                            foreach (var item in Model.Meterhistorydata)
                            {
                                <tr>
                                    <td class="font-weight-light fw-light text-sm">@item.Systempropertyhouseroommeternumber</td>
                                    <td class="font-weight-light fw-light text-sm">@item.Openingmeter</td>
                                    <td class="font-weight-light fw-light text-sm">@item.Closingmeter</td>
                                    <td class="font-weight-light fw-light text-sm">@item.Movedmeter</td>
                                    <td class="font-weight-light fw-light text-sm">@item.Consumedamount</td>
                                    <td class="font-weight-light fw-light text-sm">@item.Datecreated</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <button type="button" class="btn btn-sm btn-secondary" onclick="prevSection()">Previous</button>
            <button type="button" class="btn btn-sm btn-secondary" onclick="nextSection()">Next</button>
        </div>
    </div>

    <div id="section3" class="section" style="display: none;">
        <h6 class="mb-4">Step 3: Tenant Details</h6>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group" style="width:100%">
                    <input type="number" class="form-control form-control-sm" id="Systemstaffidnumberid" placeholder="Enter ID number to search" aria-label="Idnumbersearch" />
                    <div class="input-group-append align-content-center text-center">
                        <button onclick="Searchtenantbyidnumber()" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input id="Systempropertyhousetenantid" asp-for="@Model.Tenantid" hidden />
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light fw-light">Firstname</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Firstname" id="Systemstafffirstnameid" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light fw-light">Lastname</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Lastname" id="Systemstafflastnameid" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="font-weight-light fw-light">Email Address</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Emailaddress" id="Systemstaffemailaddressid" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light fw-light">Phone Number</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Phonenumber" id="Systemstaffphonenumberid" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light fw-light">Idnumber</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Idnumber" id="Systemstaffidnumberdataid" readonly />
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <button type="button" class="btn btn-sm btn-secondary" onclick="prevSection()">Previous</button>
            <button type="button" class="btn btn-sm btn-secondary" onclick="nextSection()">Next</button>
        </div>
    </div>

    <div id="section4" class="section" style="display: none;">
        <h6 class="mb-4">Step 4: Room Checklists</h6>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table class="table table-bordered table-striped compact table-sm nowrap text-nowrap w-100" id="AllsystemDataTables3">
                        <thead>
                            <tr>
                                <th hidden>Propertychecklistid</th>
                                <th hidden>Propertyhouseroomid</th>
                                <th hidden>Fixtureid</th>
                                <th class="font-weight-light fw-light">Fixture Type</th>
                                <th class="font-weight-light fw-light">Fixture Units</th>
                                <th class="font-weight-light fw-light">Fixture Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Roomfixtures != null)
                            {
                                foreach (var data in Model.Roomfixtures)
                                {
                                    <tr>
                                        <td hidden>@data.Propertychecklistid</td>
                                        <td hidden>@data.Propertyhouseroomid</td>
                                        <td hidden>@data.Fixtureid</td>
                                        <td><input type="text" class="form-control form-control-sm font-weight-light house-fixture-type-name" value="@data.Fixturetype" readonly /></td>
                                        <td><input type="text" class="form-control form-control-sm font-weight-light house-fixture-units" value="@data.Fixtureunits" /></td>
                                        <td>
                                            <select class="form-control form-control-sm font-weight-light house-fixture-selected-status" asp-for="@data.Fixturestatusid" asp-items="@(new SelectList(data.Systempropertyfixturesdata, "Value", "Text"))">
                                                <option value="">Select an option</option>
                                            </select>

                                           @*  <select class="form-control form-control-sm font-weight-light house-fixture-selected-status" asp-for="@data.Fixturestatusid">
                                                <option value="">Select an option</option>
                                                @foreach (var item in data.Systempropertyfixturesdata)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select> *@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <button type="button" class="btn btn-sm btn-secondary" onclick="prevSection()">Previous</button>
            <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystempropertyroomid" onclick="savesystempropertyroomdata();">
                <span id="buttonText">Finish</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
        </div>
    </div>
</div>