@model DBL.Models.PropertyHouseRoomTenantModel
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">House Tenant Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-custom text-sm">Tenant Basic Details</h4>
        </div>
    </div>
    <div class="row text-nowrap">
        <div class="col-sm-3">
            <p class="text-sm">Name: @Model.Data.Fullname</p>
        </div>
        <div class="col-sm-3">
            <p class="text-sm">Phone: @Model.Data.Phonenumber</p>
        </div>
        <div class="col-sm-2">
            <p class="text-sm">Idnumber: @Model.Data.Idnumber</p>
        </div>
        <div class="col-sm-2">
            <p class="text-sm">Account: @Model.Data.Accountnumber</p>
        </div>
        <div class="col-sm-2">
            <p class="text-sm">Walletbalance: @Model.Data.Walletbalance</p>
        </div>
    </div>
    <div class="row text-nowrap">
        <div class="col-sm-3">
            <p class="text-sm">House: @Model.Data.Tenantroomdata.Propertyhousename</p>
        </div>
        <div class="col-sm-3">
            <p class="text-sm">Room: @Model.Data.Tenantroomdata.Systempropertyhousesizename</p>
        </div>
        <div class="col-sm-3">
            <p class="text-sm">Status: @Model.Data.Tenantroomdata.Houseoccupationstatus</p>
        </div>
        <div class="col-sm-1">
            <p class="text-sm">Rent: @Model.Data.Tenantroomdata.Systempropertyhousesizerent.ToString("#,##0.00")</p>
        </div>
        <div class="col-sm-2">
            <p class="text-sm">Water Price: @Model.Data.Tenantroomdata.Waterunitprice</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">          
            <div class="row">
                <h4 class="text-custom text-sm">Tenant Renting History</h4>
                <div class="col-sm-12 table-responsive table-responsive-sm">
                    <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                        <thead>
                            <tr>
                                <th class="text-sm font-weight-light fw-light">House</th>
                                <th class="text-sm font-weight-light fw-light">Owner</th>
                                <th class="text-sm font-weight-light fw-light">Room</th>
                                <th class="text-sm font-weight-light fw-light">Location</th>
                                <th class="text-sm font-weight-light fw-light">Landmark</th>
                                <th class="text-sm font-weight-light fw-light">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Model.Data != null && Model.Data.Tenantroomhistory != null)
                                {
                                    foreach (var item in Model.Data.Tenantroomhistory)
                                    {
                                        <td>@item.Propertyhousename</td>
                                        <td>@item.Propertyownername</td>
                                        <td class="text-wrap wrap">@item.Systempropertyhousesizename</td>
                                        <td class="text-wrap wrap">@item.Countyname</td>
                                        <td class="text-wrap wrap">@item.Streetorlandmark</td>
                                        <td>@item.Outstandingbalance</td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <h4 class="text-custom text-sm">Tenant Room Meter History</h4>
                <div class="col-sm-12 table-responsive table-responsive-sm">
                    <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables1">
                        <thead>
                            <tr>
                                <th class="text-sm font-weight-light fw-light">Meter</th>
                                <th class="text-sm font-weight-light fw-light">Opening</th>
                                <th class="text-sm font-weight-light fw-light">Closing</th>
                                <th class="text-sm font-weight-light fw-light">Moved</th>
                                <th class="text-sm font-weight-light fw-light">Amount</th>
                                <th class="text-sm font-weight-light fw-light">Month</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Model.Data != null && Model.Data.Tenantroomdata.Tenantroommeter != null)
                                {
                                    foreach (var item in Model.Data.Tenantroomdata.Tenantroommeter)
                                    {
                                        <td>@item.Systempropertyhouseroommeternumber</td>
                                        <td>@item.Openingmeter</td>
                                        <td>@item.Closingmeter</td>
                                        <td>@item.Movedmeter</td>
                                        <td>@item.Consumedamount</td>
                                        <td>@item.Datecreated.ToString("MMMM")</td>

                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
</div>
