@model DBL.Models.TenantMonthlyInvoicePaymentData
@{
    ViewData["Title"] = "Tenantmonthlyinvoicepaymentdata";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="font-weight-bold text-sm card-title">Property House Rooms Payments</h6>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Code </th>
                            <th>Room</th>
                            <th>Tenant</th>
                            <th>Amount</th>
                            <th>Validated</th>
                            <th>Date</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data != null)
                        {
                            foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td>@item.TransactionReference</td>
                                    <td>@(item.PropertyHouseName + " " + item.SystemHouseSizeName + " " + item.SystemPropertyHouseSizeName)</td>
                                    <td>@item.HouseTenantName</td>
                                    <td>@item.Amount.ToString("#,##0.00")</td>
                                    <td>
                                        @if (item.IsPaymentValidated)
                                        {
                                            <p class="mb-0"><span class="badge badge-success text-white"><strong>VALIDATE</strong></span></p>
                                        }
                                        else
                                        {
                                            <p class="mb-0"><span class="badge badge-warning text-white"><strong>NOT VALIDATED</strong></span></p>
                                        }
                                    </td>
                                    <td>@item.TransactionDate.ToString("yyyy-MM-dd")</td>
                                    <td class="text-right">
                                        @if (!item.IsPaymentValidated)
                                        {
                                            <a asp-action="Validatecustomerpayment" asp-controller="PropertyHouse" asp-route-code="@Guid.NewGuid()" asp-route-Customerpaymentid="@item.CustomerPaymentId" asp-route-Financetransactionid="@item.FinanceTransactionId" asp-route-Houseroomid="@item.HouseRoomId" asp-route-Tenantid="@item.HouseRoomTenantId" asp-route-TransactionReference="@item.TransactionReference" asp-route-Paidamount="@item.Amount" asp-area="" id="CAN_EDIT_PROPERTY" style="display:none;" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Validate</a>
                                        }  
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function savesystempropertyroompaymentvalidationdata() {
            document.getElementById("savesystempropertyroompaymentvalidationid").disabled = true;
            document.getElementById("processingSpinner").style.display = "inline-block";
            document.getElementById("buttonText").innerText = "Processing...";
            var uil1 = {
                CustomerPaymentId: $('#Systemcustomerpaymentid').val(),
                FinanceTransactionId: $('#Systemcustomerpaymentfinancetransactionid').val(),
                Houseroomid: $('#Systemhouseroomid').val(),
                Tenantid: $('#Systemtenantid').val(),
                TransactionReference: $('#SystemtransactionReferenceid').val(),
                Paidamount: $('#Systemhouserentpaidamountid').val(),
                Actualamount: $('#Systemhouserentactualamountid').val(),
                Datecreated: new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0].replace('T', ' '),
                Datemodified: new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0].replace('T', ' '),
            };

            $.post("/PropertyHouse/Savevalidatecustomerpaymentrequest", uil1, function (response) {
                if (response.RespStatus == 0) {
                    Swal.fire('Saved!', response.RespMessage, 'success');
                    $('#Uttambsolutionsmodal').hide();
                    setTimeout(function () { location.reload(); }, 1000);
                } else if (response.RespStatus == 1) {
                    Swal.fire("Property house Payment validation details not saved", response.RespMessage, "warning");
                } else {
                    Swal.fire("Oops! Something Went Wrong", "Database Error has occurred. Kindly Contact our support team.", "error");
                }
                document.getElementById("savesystempropertyroompaymentvalidationid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
            });
        }
    </script>
}
