@model DBL.Models.TenantMonthlyInvoiceData
@{
    ViewData["Title"] = "Tenantmonthlyinvoicedata";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-10">
                        <h6 class="font-weight-bold text-sm card-title">Property House Rooms</h6>
                    </div>
                    <div class="col-sm-2">
                        <a asp-action="Addpropertyhouseroom" asp-controller="PropertyHouse" asp-route-code="@Guid.NewGuid()" asp-route-Houseroomid="0" asp-area="" id="CAN_ADD_PROPERTY_HOUSE_ROOM" style="display:none;" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" data-target="#Uttambsolutionsmodallarge" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add House Room</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Invoice #</th>
                            <th>Room size</th>
                            <th>Rent</th>
                            <th>Paid Amount</th>
                            <th>Balance</th>
                            <th>Ispaid</th>
                            <th>Issent</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data != null)
                        {
                            foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td>@item.Invoiceno</td>
                                    <td>@(item.Systemhousesizename+ " "+ item.Systempropertyhousesizename)</td>
                                    <td>@item.Amount</td>                                   
                                    <td>@item.Paidamount</td>                                   
                                    <td>@item.Paidamount</td>                                   
                                    <td>
                                        @if (item.Ispaid)
                                        {
                                            <p class="mb-0"><span class="badge badge-success"><strong>Paid</strong></span></p>
                                        }
                                        else
                                        {
                                            <p class="mb-0"><span class="badge badge-warning"><strong>Not Paid</strong></span></p>
                                        }
                                    </td>
                                   <td>
                                        @if (item.Issent)
                                        {
                                            <p class="mb-0"><span class="badge badge-success"><strong>Sent</strong></span></p>
                                        }
                                        else
                                        {
                                            <p class="mb-0"><span class="badge badge-warning"><strong>Not Sent</strong></span></p>
                                        }
                                    </td>
                                    <td>@item.Paidstatus</td>
                                    <td class="text-right">
                                        <a asp-action="Addpropertyhouseroom" asp-controller="PropertyHouse" asp-route-code="@Guid.NewGuid()" asp-route-Houseroomid="@item.Invoiceid" asp-area="" id="CAN_EDIT_PROPERTY" style="display:none;" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main" data-target="#Uttambsolutionsmodallarge" data-toggle="modal" data-backdrop="static" data-keyboard="false">Manage</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>