@model DBL.Entities.Propertyhouselisting
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">House List</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.Houselistingid" id="Houselistingid" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label class="font-weight-light">Property Title</label>
                <input asp-for="@Model.Title" class="form-control form-control-sm" required id="Houselistingtitleid" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Property Type</label>
                <input asp-for="@Model.Isforrent" class="form-control form-control-sm" id="Housepropertyisforrentid" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Property Location</label>
                <input asp-for="@Model.Location" class="form-control form-control-sm" required id="Houselistinglocationid" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light text-center ml-4">Price</label>
                <input asp-for="@Model.Price" class="form-control form-control-sm" id="Housepropertypriceid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light text-center ml-4">Bedrooms</label>
                <input asp-for="@Model.Bedrooms" class="form-control form-control-sm" id="Housepropertybedroomsid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light text-center ml-4">Bathrooms</label>
                <input asp-for="@Model.Bathrooms" class="form-control form-control-sm" id="Housepropertybathroomsid" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Property Description</label>
                <textarea asp-for="@Model.Description" class="form-control form-control-sm" required id="Houselistingdescriptionid"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light"> Image(s)</label>
                <input class="form-control form-control-sm font-weight-light" id="Houselistingimageurlid" type="file" onchange="systemHousePropertyFileChanged(event)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" hidden>
            <div class="form-group">
                <label class="font-weight-light">Images Url</label>
                <input class="form-control form-control-sm" id="UttambsolutionsimageurlId" readonly />
            </div>
        </div>
        <div id="Uttambsolutionsimagespreviewcontainer"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystemhousepropertyid" onclick="savesystemhousepropertydata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
