@model DBL.Entities.Systempropertyhouseroommeters
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">House Water Meter Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="col-sm-12 table-responsive">
        <table class="table table-bordered table-striped compact table-sm nowrap text-nowrap w-100" id="roommeterreadingtable">
            <thead>
                <tr>
                    <th hidden>Meterid</th>
                    <th hidden>Roomsizeid</th>
                    <th class="font-weight-light fw-light">Meter Number</th>
                    <th class="font-weight-light fw-light">Opening Meter</th>
                    <th class="font-weight-light fw-light">Closing Meter</th>
                    <th class="font-weight-light fw-light">Units</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td hidden>@Model.Systempropertyhousemeterid</td>
                    <td hidden>@Model.Systempropertyhouseroomid</td>
                    <td><input type="text" class="form-control form-control-sm font-weight-light system-property-house-room-meter-number" value="@Model.Systempropertyhouseroommeternumber" /></td>
                    <td><input type="text" class="form-control form-control-sm font-weight-light system-property-house-room-opening-meter" value="@Model.Openingmeter" @((Model.Hasprevious && Model.Openingmeter != 0) ? "readonly" : "") /></td>
                    <td><input type="number" class="form-control form-control-sm font-weight-light system-property-house-room-closing-meter" value="@Model.Closingmeter" required /></td>
                    <td><input type="number" class="form-control form-control-sm font-weight-light system-property-house-room-moved-meter" value="@Model.Movedmeter" readonly /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="table table-bordered table-striped compact table-sm nowrap text-nowrap w-100" id="AllsystemDataTables1">
                <thead>
                    <tr>
                        <th class="font-weight-light fw-light">Meter Number</th>
                        <th class="font-weight-light fw-light">Opening Meter</th>
                        <th class="font-weight-light fw-light">Closing Meter</th>
                        <th class="font-weight-light fw-light">Units</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data != null)
                    {
                        foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>@item.Systempropertyhouseroommeternumber</td>
                                <td>@item.Openingmeter</td>
                                <td>@item.Closingmeter</td>
                                <td>@item.Movedmeter</td>
                                <td>@item.Datecreated</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystempropertyroomid" onclick="savesystempropertyroomdata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
