@model DBL.Models.PropertyHouseDetailData
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="container">
    <div class="row m-3">
        <div class="col-sm-4">
            <a asp-action="Addpropertyhouseroom" asp-controller="Property" asp-route-Houseroomid="0" asp-area="" id="CAN_ADD_PROPERTY_HOUSE_ROOM" style="display:none;" class="btn-info btn-sm btn-custom text-white font-weight-bold text-uppercase text-center main mr-2" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add House Room</a>
        </div>
    </div>
    @if (Model != null && Model.Data != null)
    {
        <div class="row">
            @foreach (var property in Model.Data)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card shadow-sm border-light" style="height: 100%; max-width: 350px;">
                        <img src="@Url.Content(property.Primaryimageurl ?? "~/images/house.png")" alt="@property.Propertyhousename" class="card-img-top" style="height: 170px; object-fit: cover;" />
                        <div class="card-body d-flex flex-column p-2">
                            <h6 class="card-title text-center text-dark" style="font-size: 1rem;">@property.Propertyhousename</h6>
                            <p class="card-text text-center text-muted mb-1" style="font-size: 0.9rem;">@property.Systemhousesizename</p>
                            <p class="card-text text-center text-muted mb-2" style="font-size: 0.9rem;">@property.Systempropertyhousesizename</p>
                            <div class="d-flex flex-wrap justify-content-center mb-2">
                                <span class="badge badge-primary mr-1"><strong>Rent:</strong> Kes. @property.Systempropertyhousesizerent.ToString("#,##0.00")</span>
                                @if (property.Systempropertyhousesizedeposit)
                                {
                                    <span class="badge badge-warning mr-1"><strong>Deposit:</strong> Kes. @property.Systempropertyhousesizerent.ToString("#,##0.00")</span>
                                }
                            </div>
                            <div class="d-flex flex-wrap justify-content-center mb-2">
                                <span class="badge badge-info mr-1"><strong>County:</strong> @property.Countyname</span>
                                <span class="badge badge-info mr-1"><strong>Sub County:</strong> @property.Subcountyname</span>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center mb-2">
                                <span class="badge badge-info mr-1"><strong>Ward:</strong> @property.Subcountywardname</span>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center mb-2">
                                <span class="badge badge-secondary mr-1"><strong>Landmark:</strong> @property.Streetorlandmark</span>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center mb-2">
                                <span class="badge badge-success mr-1"><strong>Shop:</strong> @property.Propertyhouseshop</span>
                                <span class="badge badge-danger mr-1"><strong>Vacant:</strong> @property.Propertyhousevacant</span>
                                <span class="badge badge-warning"><strong>Renovation:</strong> @property.Propertyhouseunderrenovation</span>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center mb-2">
                                @if (property.Isvacant)
                                {
                                    <a asp-action="Addpropertyhousetenant" asp-controller="Property" asp-route-Houseroomid="@property.Systempropertyhouseroomid" asp-area="" id="CAN_ADD_PROPERTY_HOUSE_TENANT" style="display:none;" class="btn-info btn-sm btn-custom text-white font-weight-bold text-uppercase text-center main mr-2" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Tenant</a>
                                }
                                <a asp-action="Addpropertyhouseroom" asp-controller="Property" asp-route-Houseroomid="@property.Systempropertyhouseroomid" asp-area="" id="CAN_EDIT_PROPERTY_HOUSE_ROOM" style="display:none;" class="btn-info btn-sm btn-custom text-white font-weight-bold text-uppercase text-center main mr-2" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a>
                                <a asp-action="Addpropertyhouseroommeter" asp-controller="Property" asp-route-Houseroomid="@property.Systempropertyhouseroomid" asp-area="" id="CAN_EDIT_PROPERTY_HOUSE_ROOM" style="display:none;" class="btn-info btn-sm btn-custom text-white font-weight-bold text-uppercase text-center main mr-2" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Meter Readng</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center my-5">
            <p class="text-muted">No property available at the moment.</p>
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript">
        function searchsystemstaffdata() {
            var idNumber = $('#Systemstaffidnumberid').val();
            // Validate if ID number input is empty
            if (idNumber.trim() === "") {
                $("#Systemstaffidnumberid").addClass('is-invalid');
                return;
            } else {
                $("#Systemstaffidnumberid").removeClass('is-invalid').addClass('is-valid');
            }

            $.ajax({
                url: '/Staff/Getsystemstaffdatabyidnumber',
                type: 'GET',
                data: { Idnumber: idNumber },
                success: function (response) {
                    var resultsContainer = $('#searchResults');
                    resultsContainer.empty();
                    if (response) {
                        var cardHtml =
                            '<input type="text" id="systemstaffid" value="' + response.Userid + '" class="form-control mb-2" hidden />' +
                            '<h5 class="card-title">Name: ' + response.Firstname + ' ' + response.Lastname + '</h5>' +
                            '<p class="card-text">ID Number: ' + response.Idnumber + '</p>' +
                            '<p class="card-text">Email Address: ' + response.Emailaddress + '</p>' +
                            '<p class="card-text">Phone Number: ' + response.Phonenumber + '</p>';

                        resultsContainer.append(cardHtml);
                    } else {
                        resultsContainer.append('<tr><td colspan="4" class="text-center">No results found.</td></tr>');
                    }

                    resultsContainer.removeClass('d-none');
                    $("#searchresultbuttons").removeClass('d-none');
                },
                error: function () {
                    alert('An error occurred while searching. Please try again.');
                }
            });
        }

        function savesystempropertyhouseroomtenantdata() {
            document.getElementById("savesystempropertyhouseroomtenantdataid").disabled = true;
            document.getElementById("processingSpinner").style.display = "inline-block";
            document.getElementById("buttonText").innerText = "Processing...";
            var uil = {
                Houseroomid: $('#Houseroomid').val(), Tenantid: $('#systemstaffid').val(),
                Createdby: $('#systemLoggedinedUserid').val(),
                Datecreated: new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0].replace('T', ' ')
            };
            $.post("/Property/Addsystempropertyhouseroomtenantdata", uil, function (response) {
                if (response.RespStatus == 0) {
                    Swal.fire('Saved!', response.RespMessage, 'success')
                    $('#Uttambsolutionsmodal').hide();
                    setTimeout(function () { location.reload(); }, 1000);
                } else if (response.RespStatus == 1) {
                    Swal.fire("Tenant Not saved", response.RespMessage, "warning");
                }
                else {
                    Swal.fire("Oops! Something Went Wrong", "Database Error has occured. Kindly Contact our support team.", "error");
                }
                document.getElementById("savesystempropertyhouseroomtenantdataid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
            });
        }

        function savesystempropertyroomdata() {
            document.getElementById("savesystempropertyroomid").disabled = true;
            document.getElementById("processingSpinner").style.display = "inline-block";
            document.getElementById("buttonText").innerText = "Processing...";
            var uil = {
                Systempropertyhouseroomid: $('#Systempropertyhouseroomid').val(), Systempropertyhousesizeid: $('#Systempropertyhousesizeid').val(),
                Systempropertyhousesizename: $('#Systempropertyhousesizenameid').val(), Isvacant: $('#Isvacantid').prop('checked'), Isunderrenovation: $('#Isunderrenovationid').prop('checked'),
                Isgroundfloor: $('#Isgroundfloorid').prop('checked'), Isshop: $('#Isshopid').prop('checked')
            };
            $.post("/Property/Addpropertyhouseroomdata", uil, function (response) {
                if (response.RespStatus == 0) {
                    Swal.fire('Saved!', response.RespMessage, 'success')
                    $('#Uttambsolutionsmodal').hide();
                    setTimeout(function () { location.reload(); }, 1000);
                } else if (response.RespStatus == 1) {
                    Swal.fire("House Room Not saved", response.RespMessage, "warning");
                }
                else {
                    Swal.fire("Oops! Something Went Wrong", "Database Error has occured. Kindly Contact our support team.", "error");
                }
                document.getElementById("savesystempropertyroomid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
            });
        }

        document.addEventListener('input', function (event) {
            var target = event.target;
            if (target.closest('#roommeterreadingtable')) {
                var detailRows = document.querySelectorAll('#roommeterreadingtable tbody tr');
                detailRows.forEach(function (row) {
                    var roomopeningmeter = parseFloat(row.querySelector('.system-property-house-room-opening-meter').value) || 0;
                    var roomclosingmeter = parseFloat(row.querySelector('.system-property-house-room-closing-meter').value) || 0;
                    var movedmeterunits = parseFloat(row.querySelector('.system-property-house-room-moved-meter').value) || 0;
                    var rowIsValid = true;

                    // Ensure inputs exist before accessing their values
                    if (roomclosingmeter && (parseFloat(roomclosingmeter.value) === 0 || parseFloat(roomclosingmeter.value) < parseFloat(roomclosingmeter.value))) {
                        row.querySelector('.system-property-house-room-closing-meter').classList.add('is-invalid');
                        rowIsValid = false;
                    }

                    var movedmeterunits = roomclosingmeter - roomopeningmeter;
                    movedmeterunits = Math.max(movedmeterunits, 0);
                    row.querySelector('.system-property-house-room-moved-meter').value = movedmeterunits.toFixed(2);
            
                });
            }

        });


    </script>
}