@model DBL.Models.SystemUserProfileData
@{
    ViewData["Title"] = "Myprofile";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
@functions {
    private string GetApplicationStatus(int status)
    {
        switch (status)
        {
            case 3:
                return "Received";
            case 2:
                return "Viewed";
            case 1:
                return "Rejected";
            case 0:
                return "Approved";
            default:
                return "Unknown";
        }
    }
}
@{
    string GetRelativeDate(DateTime date)
    {
        var now = DateTime.Now;
        var timeSpan = now - date;

        if (timeSpan.TotalDays < 1)
        {
            return "Today";
        }
        else if (timeSpan.TotalDays < 2)
        {
            return "Yesterday";
        }
        else
        {
            var days = (int)timeSpan.TotalDays;
            return $"{days} day{(days > 1 ? "s" : "")} ago";
        }
    }

    int adCounter = 0;
}

@if (Model.Systemmodulename == "job-listing-and-cv-revamping")
{

    <div class="row">
        <div class="row mb-4">
            <div class="col-lg-8 col-md-12">
                @if (Model != null && Model.Systemjobsdata != null)
                {
                    foreach (var job in Model.Systemjobsdata.Systemjobs)
                    {
                        <div class="card mb-4 bg-light border-0 shadow-sm">
                            <a asp-action="Jobdetails" asp-controller="Home" asp-route-code="@Guid.NewGuid()" asp-route-jobcode="@Guid.NewGuid()" asp-route-JobId="@job.JobId" asp-area="" class="text-decoration-none">
                                <div class="card-header bg-white">
                                    <h4 class="fw-bold text-custom text-uppercase">@job.Title</h4>
                                    <h6 class="text-secondary text-uppercase">@job.Employername</h6>
                                    <div class="d-flex flex-wrap">
                                        <span class="badge badge-secondary mr-2 mb-2"><strong>Location:</strong> @job.Locationname</span>
                                        <span class="badge badge-secondary mr-2 mb-2"><strong>Type:</strong> @job.Jobtypename</span>
                                        <span class="badge badge-secondary mr-2 mb-2"><strong>Salary Range:</strong> @job.JobSalaryRange</span>
                                        <span class="badge badge-secondary mb-2"><strong>Job Function:</strong> @job.Functionname</span>
                                    </div>
                                    <hr />
                                    <div class="d-flex justify-content-between mt-1">
                                        <span class="badge bg-success">@job.JobStatus</span>
                                        <span class="text-muted">@GetRelativeDate(job.DateCreated)</span>
                                    </div>
                                </div>
                                <div class="card-body bg-white">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-3 col-4">
                                            <div class="card card-border-custom">
                                                <img src="@Url.Content(job.Organizationlogo)" class="img-fluid rounded" alt="@job.Employername" />
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-9 col-8">
                                            <p>@job.JobDescription</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card-footer bg-white text-end">
                                <div class="d-flex justify-content-end">
                                    <a href="https://twitter.com/intent/tweet?url=https://jobcenter.uttambsolutions.com/Home/Jobdetails?JobId=@(job.JobId)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> Twitter</a>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://jobcenter.uttambsolutions.com/Home/Jobdetails?JobId=@(job.JobId)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i> Facebook</a>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://jobcenter.uttambsolutions.com/Home/Jobdetails?JobId=@(job.JobId)" class="btn btn-xs btn-custom" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                                </div>
                            </div>
                        </div>

                        @if (++adCounter % 2 == 0)
                        {
                            <div class="row mb-4">
                                <div class="col-lg-8 col-md-12">
                                    <ins class="adsbygoogle"
                                         style="display:block"
                                         data-ad-client="ca-pub-2850934153859537"
                                         data-ad-slot="1149686671"
                                         data-ad-format="auto"
                                         data-full-width-responsive="true"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-sm-4">
                <div class="card card-outline card-info">
                    <div class="card-header py-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="font-weight-bold text-sm card-title">My Job Applications</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive table-responsive-sm">
                        <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables3">
                            <thead>
                                <tr>
                                    <th>Job</th>
                                    <th>Status</th>
                                    <th>DateApplied</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Systemjobapplications != null)
                                {
                                    foreach (var item in Model.Systemjobapplications)
                                    {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@Html.Raw(GetApplicationStatus(item.Applicationstatus))</td>
                                            <td>@item.Datecreated</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
else if (Model.Systemmodulename == "latest-news-emerging-trends-and-politics")
{
    <div class="row">
        @if (Model != null && Model.Systemblogdata != null && Model.Systemblogdata.Systemblogs != null)
        {
            int blogCount = 0; // Counter to track the number of blog posts
            foreach (var blogPost in Model.Systemblogdata.Systemblogs)
            {
                // Blog post card
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <a asp-action="Blogdetails" asp-controller="Home" asp-route-code="@Guid.NewGuid()" asp-route-Blogid="@blogPost.Blogid" asp-area="" class="text-decoration-none">
                        <div class="card h-100 shadow-sm card-info card-outline">
                            <img src="@Url.Content(blogPost.Blogprimaryimageurl)" alt="@blogPost.Blogcategoryname" class="card-img-top" style="height: 140px; object-fit: cover;" />
                            <div class="card-body pt-2 pr-2 pl-2 d-flex flex-column">
                                <h6 class="card-text text-custom text-uppercase text-sm" title="@blogPost.Blogname">@blogPost.Truncatedblogname</h6>
                                <p class="card-text text-muted text-truncate text-wrap text-sm" title="@blogPost.Summary">@blogPost.Truncatedblogsummary</p>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="card-text text-muted text-xs" title="Author: @blogPost.Blogownername">Author: @blogPost.Blogownername</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="card-text text-muted text-xs" title="Published On: @blogPost.Datecreated">Published On: @blogPost.Datecreated</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-center">
                                    <a href="https://twitter.com/intent/tweet?url=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                // Increment the counter
                blogCount++;

                // Insert advertisement after every 3 blog posts
                if (blogCount % 4 == 0 && blogCount < Model.Systemblogdata.Systemblogs.Count)
                {
                    <div class="col-12 mb-3">
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-2850934153859537"
                             data-ad-slot="1149686671"
                             data-ad-format="auto"
                             data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                }
            }
        }
        else
        {
            <p class="text-center">No blogs available at the moment.</p>
        }
    </div>
}
else if (Model.Systemmodulename == "ecommerce-and-market-place")
{
    <div class="row">
        @if (Model != null && Model.Shopproductsdata!= null && Model.Shopproductsdata.Data != null)
        {
            foreach (var product in Model.Shopproductsdata.Data)
            {
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-3">
                    <a asp-action="Shopproductdetail" asp-controller="Home" asp-route-code="@Guid.NewGuid()" asp-route-Shopproductid="@product.Shopproductid" asp-area="" class="text-decoration-none">
                        <div class="card h-100 shadow-sm card-info card-outline">
                            <img src="@Url.Content(product.Primaryimageurl)" alt="@product.Productname" class="card-img-top" style="height: 140px; object-fit: cover;" />
                            <div class="card-body pt-2 pr-2 pl-2 d-flex flex-column">
                                <p class="card-text text-center text-muted text-truncate mb-1" title="@product.Productname">@product.Productname</p>
                                <p class="card-text text-center text-muted text-truncate mb-1" title="Kes. @product.Marketprice">Kes. @product.Marketprice.ToString("#,##0.00")</p>
                                <p class="card-text text-center text-muted text-truncate" title="Shop: @product.Organizationname">Shop: @product.Organizationname</p>
                                <p class="card-text text-center text-muted text-truncate" title="Status: @product.ProductStatus">
                                    Status: @if (product.ProductStatus == "New")
                                    {
                                        <span class="badge badge-info badge-info-xs font-weight-bold text-uppercase">New</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-warning badge-warning-xs font-weight-bold text-uppercase">Used</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p class="text-center">No products available at the moment.</p>
        }
    </div>
}

<style>
    .card {
        transition: transform 0.2s;
        margin-bottom: 0;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-title {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 0.8rem;
        color: #555;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .text-decoration-none {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
</style>
