@model DBL.Entities.SystemJob
@{
    var Systemjobfunction = ViewData["Systemjobfunctionlists"] as List<SelectListItem>;
    var Systemjobindustry = ViewData["Systemjobindustrylists"] as List<SelectListItem>;
    var Systemjoblocation = ViewData["Systemjoblocationlists"] as List<SelectListItem>;
    var Systemjobexperience = ViewData["Systemjobexperiencelists"] as List<SelectListItem>;
    var Systemjobtype = ViewData["Systemjobtypelists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Job Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Section 1: Blog Details -->
    <div id="section1" class="section">
        <h6>Step 1: Job Details</h6>
        <div class="row">
            <div class="col-sm-12">
                <input asp-for="@Model.JobId" id="JobId" hidden />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="font-weight-light">Job Title</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Title" id="Titleid" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Job Function</label>
                    <select class="form-control form-control-sm" asp-for="@Model.JobFunctionId" asp-items="Systemjobfunction" id="JobFunctionId" required>
                        <option value="">---Select---</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Job Industry</label>
                    <select class="form-control form-control-sm" asp-for="@Model.JobIndustryId" asp-items="Systemjobindustry" id="JobIndustryId" required>
                        <option value="">---Select---</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Job Location</label>
                    <select class="form-control form-control-sm" asp-for="@Model.JobLocationId" asp-items="Systemjoblocation" id="JobLocationId" required>
                        <option value="">---Select---</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Job Experience</label>
                    <select class="form-control form-control-sm" asp-for="@Model.JobExperienceId" asp-items="Systemjobexperience" id="JobExperienceId" required>
                        <option value="">---Select---</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Job Type</label>
                    <input class="form-control form-control-sm" asp-for="@Model.JobTypeName" id="JobTypeNameid" required />
                </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Has Test?</label>
                    <input class="form-control form-control-sm" type="checkbox" asp-for="@Model.HasTest" id="JobHasTestid" />
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="font-weight-light">Job Description</label>
                    <textarea class="form-control form-control-sm" asp-for="@Model.JobDescription" id="JobDescriptionid" required></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-right" onclick="nextSection()">Next</button>
    </div>

    <!-- Section 2: Product Features -->
    <div id="section2" class="section" style="display: none;">
        <h6>Step 2: Blog Paragraphs</h6>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12" hidden>
                                <input class="form-control form-control-sm font-weight-light" id="ProductFeatureId" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="font-weight-light">Paragraph</label>
                                    <textarea class="form-control form-control-sm font-weight-light" id="SystemblogparagraphId"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="font-weight-light">Paragraph Primary Image</label>
                                    <input class="form-control form-control-sm font-weight-light" type="file" id="Paragraphimageurlid" onchange="systemBlogParagraphFileChanged(event)" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label class="font-weight-light">Paragraph Image Name</label>
                                    <input class="form-control form-control-sm" id="Blogparagraphimagenameid" required />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="font-weight-light">Paragraph Image Source</label>
                                    <input class="form-control form-control-sm" id="Blogparagraphimagesourceid" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" hidden>
                                <div class="form-group">
                                    <label class="font-weight-light">Images Url</label>
                                    <input class="form-control form-control-sm" id="UttambsolutionsparagraphimageurlId" readonly />
                                </div>
                            </div>
                            <div id="Uttambsolutionsparagraphimagespreviewcontainer"></div>
                        </div>
                        <button class="btn btn-sm btn-info font-weight-bold float-right" onclick="addsystemblogparagraphdata()">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap font-weight-light w-100" id="SystemBlogParagraphListTable">
                    <thead>
                        <tr>
                            <th hidden></th>
                            <th hidden></th>
                            <th>IMAGE</th>
                            <th>PARAGRAPH</th>
                            <th hidden></th>
                            <th>NAME</th>
                            <th>SOURCE</th>
                            <th class="text-right">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" onclick="prevSection()">Previous</button>
        <button class="btn btn-sm btn-info font-weight-bold float-right" type="button" id="savesystemblogid" onclick="savesystemblogdata();">
            <span id="buttonText">SAVE</span>
            <span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
        </button>
    </div>
</div>
