﻿
@model DBL.Entities.SystemStaff
@{
    var SystemStaffRoles = ViewData["Systemstaffrolelists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">Staff Data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row" hidden>
        <input class="form-control form-control-sm" asp-for="@Model.Userid" id="UserId" />
        <input class="form-control form-control-sm" asp-for="@Model.Parentid" id="Parentid" />
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">First Name</label>
                <input class="form-control form-control-sm" asp-for="@Model.Firstname" id="FirstnameId" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Last Name</label>
                <input class="form-control form-control-sm" asp-for="@Model.Lastname" id="LastnameId" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Email</label>
                <input class="form-control form-control-sm" type="email" asp-for="@Model.Emailaddress" id="EmailAddressId" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group">
                <label class="font-weight-light">Phone Number</label>
                <input type="number" class="form-control form-control-sm" aria-label="Small" id="PhonenumberId" asp-for="@Model.Phonenumber" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="font-weight-light">Role</label>
                <select class="form-control form-control-sm font-weight-light select2" id="StaffRoleId" asp-for="@Model.Roleid" asp-items="@SystemStaffRoles">
                    <option value="0">--Select Role ---</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystemstaffid" onclick="savesystemstaffdata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>