@model DBL.Models.Systemjobdata
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";

    string GetRelativeDate(DateTime date)
    {
        var now = DateTime.Now;
        var timeSpan = now - date;

        if (timeSpan.TotalDays < 1)
        {
            return "Today";
        }
        else if (timeSpan.TotalDays < 2)
        {
            return "Yesterday";
        }
        else
        {
            var days = (int)timeSpan.TotalDays;
            return $"{days} day{(days > 1 ? "s" : "")} ago";
        }
    }

    int adCounter = 0;
}

<div class="row mb-4">
    <div class="col-lg-8 col-md-12">
        @if (Model != null && Model.Systemjobs != null)
        {
            foreach (var job in Model.Systemjobs)
            {
                <div class="card mb-4 bg-light border-0 shadow-sm">
                    <a asp-action="Jobdetails" asp-controller="Home" asp-route-code="@Guid.NewGuid()" asp-route-jobcode="@Guid.NewGuid()" asp-route-JobId="@job.JobId" asp-area="" class="text-decoration-none">
                        <div class="card-header bg-white">
                            <h4 class="fw-bold text-custom text-uppercase">@job.Title</h4>
                            <h6 class="text-secondary text-uppercase">@job.Employername</h6>
                            <div class="d-flex flex-wrap">
                                <span class="badge badge-secondary mr-2 mb-2"><strong>Location:</strong> @job.Locationname</span>
                                <span class="badge badge-secondary mr-2 mb-2"><strong>Type:</strong> @job.Jobtypename</span>
                                <span class="badge badge-secondary mr-2 mb-2"><strong>Salary Range:</strong> @job.JobSalaryRange</span>
                                <span class="badge badge-secondary mb-2"><strong>Job Function:</strong> @job.Functionname</span>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between mt-1">
                                <span class="badge bg-success">@job.JobStatus</span>
                                <span class="text-muted">@GetRelativeDate(job.DateCreated)</span>
                            </div>
                        </div>
                        <div class="card-body bg-white">
                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-4">
                                    <div class="card card-border-custom">
                                        <img src="@Url.Content(job.Organizationlogo)" class="img-fluid rounded" alt="@job.Employername" />
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-9 col-8">
                                    <p>@job.JobDescription</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="card-footer bg-white text-end">
                        <div class="d-flex justify-content-end">
                            <a href="https://twitter.com/intent/tweet?url=https://jobcenter.uttambsolutions.com/Home/Jobdetails?JobId=@(job.JobId)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> Twitter</a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://jobcenter.uttambsolutions.com/Home/Jobdetails?JobId=@(job.JobId)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i> Facebook</a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://jobcenter.uttambsolutions.com/Home/Jobdetails?JobId=@(job.JobId)" class="btn btn-xs btn-custom" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                        </div>
                       
                    </div>
                </div>

                @if (++adCounter % 2 == 0)
                {
                    <div class="row mb-4">
                        <div class="col-lg-8 col-md-12">
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-5600633497493641"
                                 data-ad-slot="1149686671"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <a href="https://fortysevennews.uttambsolutions.com" target="_blank">
                <div class="card border-0 shadow-sm mb-4">
                    <img src="" class="card-img-top" />
                    <div class="card-header bg-white text-custom">
                        <h5 class="card-title mb-0">Blog Management Websites</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-dark">The FortySevenNews Blog Management System is a comprehensive platform designed for managing news blogs efficiently. It is tailored to meet the needs of modern newsrooms, allowing journalists, editors, and content creators to publish, manage, and distribute news articles seamlessly. The system is built with a user-friendly interface, robust features, and advanced functionalities to ensure a smooth workflow for news publishing.</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="row mb-4">
            <div class="col-lg-12 col-md-12">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5600633497493641"
                     data-ad-slot="8445437350"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        
        <div class="row">
            <a href="https://fortysevennews.uttambsolutions.com" target="_blank">
                <div class="card border-0 shadow-sm mb-4">
                    <img src="" class="card-img-top" />
                    <div class="card-header bg-white text-custom">
                        <h5 class="card-title mb-0">Ecommerce Management Websites</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-dark">An E-commerce Management System is a comprehensive solution designed to streamline the various aspects of running an online store. It provides tools for managing products, inventory, orders, customers, and marketing, enabling businesses to operate efficiently and deliver a seamless shopping experience to their customers. This system is essential for businesses looking to establish or enhance their online presence and grow their sales in the digital marketplace.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="row mb-4">
            <div class="col-lg-12 col-md-12">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5600633497493641"
                     data-ad-slot="1149686671"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <div class="row">
            <a href="https://fortysevennews.uttambsolutions.com" target="_blank">
                <div class="card border-0 shadow-sm mb-4">
                    <img src="" class="card-img-top" />
                    <div class="card-header bg-white text-custom">
                        <h5 class="card-title mb-0">Church Management Websites</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-dark">A Church Management System (ChMS) is a specialized software solution designed to assist churches in managing their day-to-day operations efficiently. It provides tools for managing congregation data, events, donations, communications, and volunteers, streamlining administrative tasks and enhancing community engagement. This system is essential for churches aiming to improve their organizational processes, foster community growth, and support their ministry effectively.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="row mb-4">
            <div class="col-lg-12 col-md-12">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5600633497493641"
                     data-ad-slot="1596995960"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-8 col-md-12">
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-client="ca-pub-5600633497493641"
             data-ad-slot="8445437350"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-8 col-md-12">
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-client="ca-pub-5600633497493641"
             data-ad-slot="8445437350"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-8 col-md-12">
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-layout-key="-6b+by+d-1s+li"
             data-ad-client="ca-pub-5600633497493641"
             data-ad-slot="1596995960"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
