@model DBL.Entities.Organizationshopproducts
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">My Shop Product Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Section 1: Product Information -->
    <div id="section1">
        <h6>Step 1: Product Information</h6>
        <div class="row">
            <div class="col-sm-12">
                <input asp-for="@Model.Shopproductid" id="Shopproductid" hidden />
                <input asp-for="@Model.Organizationid" id="Organizationid" hidden />
                <input asp-for="@Model.Productid" id="Productid" hidden />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Product Name</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Productname" id="Productnameid" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-weight-light">Wholesale Price</label>
                    <input class="form-control form-control-sm" type="number" asp-for="@Model.Wholesaleprice" readonly />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="font-weight-light">My Selling Price</label>
                    <input class="form-control form-control-sm" type="number" asp-for="@Model.Marketprice" id="Marketpriceid" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Product Size</label>
                    <input class="form-control form-control-sm" asp-for="@Model.ProductSize" id="ProductSizeid" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Product Color</label>
                    <input class="form-control form-control-sm" asp-for="@Model.ProductColor" id="ProductColorid" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Product Model</label>
                    <input class="form-control form-control-sm" asp-for="@Model.ProductModel" id="ProductModelid" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Product Units</label>
                    <input class="form-control form-control-sm" type="number" asp-for="@Model.ProductStock" id="ProductStockid" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Product Status</label>
                    <select class="form-control form-control-sm" type="number" asp-for="@Model.ProductStatus" id="ProductStatusid">
                        <option value="">---Select Status---</option>
                        <option value="New">New</option>
                        <option value="Used">Used</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Is lipa mdogo/later?</label>
                    <input class="form-control form-control-sm" type="checkbox" onchange="showorhidelipalater()" asp-for="@Model.Islipalater" id="Islipalaterid" />
                </div>
            </div>
        </div>
        <div class="row" id="lipamdogomdogolaterrowid" style="display:none">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-weight-light">Deposit Amount</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Productdepositamount" id="Productdepositamountid" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-weight-light">Interest Rate</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Productinterestrate" id="Productinterestrateid" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-weight-light">Term(Months)</label>
                    <input class="form-control form-control-sm" type="number" asp-for="@Model.PaymentTerm" id="PaymentTermid" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-weight-light">Amount</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Periodicamount" id="Periodicamountid" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="font-weight-light">Product Description</label>
                    <textarea class="form-control form-control-sm" asp-for="@Model.Productdescription" id="Productdescriptionid"></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-right" onclick="nextSection(2)">Next</button>
    </div>

    <!-- Section 2: Product Features -->
    <div id="section2" style="display: none;">
        <h6>Step 2: Product Features</h6>
        <div class="row">
            <div class="col-sm-12" hidden>
                <input class="form-control form-control-sm font-weight-light" id="ProductFeatureId" />
            </div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="font-weight-light">Feature/Specification</label>
                    <input class="form-control form-control-sm font-weight-light" id="SystemshopproductfeaturenameId" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="font-weight-light"></label>
                    <button class="btn btn-sm btn-info btn-block text-white font-weight-bold text-uppercase mt-2" onclick="addshopproductfeaturedata()">ADD</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap font-weight-light w-100" id="ShopProductFeatureTable">
                    <thead>
                        <tr>
                            <th hidden></th>
                            <th hidden></th>
                            <th>FEATURE/SPECIFICATION</th>
                            <th class="text-right">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Shopproductfeature != null)
                        {
                            foreach (var data in Model.Shopproductfeature)
                            {
                                <tr>
                                    <td hidden>@data.ProductFeatureId</td>
                                    <td hidden>@data.ShopProductId</td>
                                    <td>@data.ProductFeature</td>
                                    <td class="text-right"><button class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main m-1" onclick="editshopproductfeaturedata(this.parentNode.parentNode)">Edit</button><button class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main m-1" onclick="updateshopproductfeaturedata(this.parentNode.parentNode)">Update</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" onclick="prevSection(1)">Previous</button>
        <button type="button" class="btn btn-sm btn-secondary float-right" onclick="nextSection(3)">Next</button>
    </div>


    <!-- Section 3: Product Details -->
    <div id="section3" style="display: none;">
        <h6>Step 3: Whats in the Box</h6>
        <div class="row">
            <div class="col-sm-12" hidden>
                <input class="form-control form-control-sm font-weight-light" id="ProductWhatsInBoxId" />
            </div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="font-weight-light">Item in Box</label>
                    <input class="form-control form-control-sm font-weight-light" id="SystemshopproductboxitemnameId" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="font-weight-light"></label>
                    <button class="btn btn-sm btn-info btn-block text-white font-weight-bold text-uppercase mt-2" onclick="addshopproductboxitemdata()">ADD</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap font-weight-light w-100" id="ShopProductBoxItemTable">
                    <thead>
                        <tr>
                            <th hidden></th>
                            <th hidden></th>
                            <th>ITEM IN BOX</th>
                            <th class="text-right">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Shopproductwhatsinbox != null)
                        {
                            foreach (var data in Model.Shopproductwhatsinbox)
                            {
                                <tr>
                                    <td hidden>@data.ProductWhatsInBoxId</td>
                                    <td hidden>@data.ShopProductId</td>
                                    <td>@data.ProductWhatsInBoxItem</td>
                                    <td class="text-right"><button class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main m-1" onclick="editshopproductboxitemdata(this.parentNode.parentNode)">Edit</button><button class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main m-1" onclick="updateshopproductboxitemdata(this.parentNode.parentNode)">Update</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" onclick="prevSection(2)">Previous</button>
        <button class="btn btn-sm btn-info font-weight-bold ml-1" type="button" id="editorgshopproductid" onclick="editorgshopproductdata();">
            <span id="buttonText">SAVE</span>
            <span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
        </button>
    </div>

    <!-- Section 3: Product Description and Images -->
    <div id="section4" style="display: none;">
       
    </div>
</div>
