@model DBL.Models.SystemOrganizationDetails;
@{
    ViewData["Title"] = "Organizationdetail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row">
    <div class="col-sm-6">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="font-weight-bold text-sm card-title">Inventory Products</h6>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>W. Price</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Systemproducts != null)
                        {
                            foreach (var item in Model.Systemproducts)
                            {
                                <tr>
                                    <td><img src="@Url.Content(item.Primaryimageurl)" height="40" width="40" /></td>
                                    <td>@item.Productname</td>
                                    <td>@item.Brandname</td>
                                    <td>@item.Categoryname</td>
                                    <td>@item.Wholesaleprice.ToString("F2")</td>
                                    <td class="text-right"><a asp-action="Addproducttoshop" asp-controller="Organization" asp-route-code="@Guid.NewGuid()" asp-route-OrganizationId="@Model.OrganizationId" asp-route-Productid="@item.Productid" asp-route-Wholesaleprice="@item.Wholesaleprice" asp-route-Retailprice="@item.Retailprice" asp-route-Productname="@item.Productname" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Sell on my shop</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
      <div class="col-sm-6">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="font-weight-bold text-sm card-title">My Shop Products</h6>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Model</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Organizationshopproducts != null)
                        {
                            foreach (var item in Model.Organizationshopproducts)
                            {
                                <tr>
                                    <td><img src="@Url.Content(item.Primaryimageurl)" height="40" width="40" /></td>
                                    <td>@item.Productname</td>
                                    <td>@item.ProductColor</td>
                                    <td>@item.ProductSize</td>
                                    <td>@item.ProductModel</td>
                                    <td>@item.ProductStock</td>
                                    <td>@item.Marketprice.ToString("F2")</td>
                                    <td class="text-right"><a asp-action="Editshopproduct" asp-controller="Organization" asp-route-code="@Guid.NewGuid()" asp-route-Shopproductid="@item.Shopproductid" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                                            @section Scripts {
    <script type="text/javascript">
    ﻿function saveorgshopproductdata() {
    document.getElementById("saveorgshopproductid").disabled = true;
    document.getElementById("processingSpinner").style.display = "inline-block";
    document.getElementById("buttonText").innerText = "Processing...";
    if ($('#Productnameid').val() === '') {
        Swal.fire("Shop product Not Created", 'Product Name is Required', "warning");
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        return;
    }
    if ($('#Marketpriceid').val() === ''|| $('#Marketpriceid').val() === 0) {
        Swal.fire("Shop product Not Created", 'Selling Price is Required', "warning");
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        return;
    }
     if ($('#ProductSizeid').val() === '') {
        Swal.fire("Shop product Not Created", 'Size is Required', "warning");
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        return;
    }
    if ($('#ProductColorid').val() === '') {
        Swal.fire("Shop product Not Created", 'Color is Required', "warning");
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        return;
    }
    if ($('#ProductModelid').val() === '') {
        Swal.fire("Shop product Not Created", 'Model is Required', "warning");
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        return;
    }
    if ($('#ProductStockid').val() === '' || $('#ProductStockid').val() === 0) {
        Swal.fire("Shop product Not Created", 'Units Available is Required', "warning");
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        return;
    }
    if ($('#Productdescriptionid').val() === '') {
        Swal.fire("Shop product Not Created", 'Descriptive Narration is Required', "warning");
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        return;
    }
    
    var uil1 = {
        Shopproductid:$('#Shopproductid').val(),Productid:$('#Productid').val(),Productname:$('#Productnameid').val(),Organizationid:$('#Organizationid').val(),Marketprice:$('#Marketpriceid').val(),Productdescription:$('#Productdescriptionid').val(),ProductSize:$('#ProductSizeid').val(),ProductColor:$('#ProductColorid').val(),ProductModel:$('#ProductModelid').val(),ProductStock:$('#ProductStockid').val(),DateCreated:new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0].replace('T', ' ')
    };
    $.post("/Organization/Addorganizationshopproductsdata", uil1, function (response) {
        if (response.RespStatus == 0) {
            Swal.fire('Saved!', response.RespMessage, 'success')
            $('#Uttambsolutionsmodal').hide();
            setTimeout(function () { location.reload(); }, 1000);
        } else if (response.RespStatus == 1) {
            Swal.fire("Organization details not saved", response.RespMessage, "warning");
        }
        else {
            Swal.fire("Oops! Something Went Wrong", "Database Error has occured. Kindly Contact our support team.", "error");
        }
        document.getElementById("saveorgshopproductid").disabled = false;
        document.getElementById("processingSpinner").style.display = "none";
        document.getElementById("buttonText").innerText = "SAVE";
        });
    }
   </script>
}
