@model DBL.Models.Systemorganizationshopproducts
@{
    ViewData["Title"] = "Ecommerce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @if (Model != null && Model.Organizationshopproductsdata != null)
    {
        foreach (var product in Model.Organizationshopproductsdata)
        {
            <div class="col-sm-2">
                <div class="card">
                    <img src="@Url.Content(product.Primaryimageurl)" alt="@product.Productname" height="140" class="card-img-top" />
                    <div class="card-body">
                        <h4 class="card-title nowrap text-nowrap">@product.Productname</h4>
@*                         <p class="card-text">@product.Mainproductdescription</p> *@
                        <p class="card-text nowrap text-nowrap">Kes. @product.Marketprice</p>
                        <p class="card-text nowrap text-nowrap">Shop: @product.Organizationname</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
