@model DBL.Entities.Systemblog
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="@ViewBag.OgTitle" />
    <meta property="og:description" content="@ViewBag.OgDescription" />
    <meta property="og:image" content="@ViewBag.OgImage" />
    <meta property="og:url" content="@ViewBag.OgUrl" />
    <meta property="og:type" content="article" />

    <meta name="description" content="Uttamb Solutions offers top-notch web development, e-commerce, fuel card system, forecought management system, fcs, fms, fuel management system, and digital marketing services. Explore our blogs and contact us for more information." />
    <meta name="keywords" content="Uttamb Solutions, fuel card system, forecought management system, fcs, fms, fuel management system, web development, e-commerce, digital marketing, blogs" />
    <meta name="author" content="Uttamb Solutions" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="@ViewData["Title"] - Uttamb Solutions" />
    <meta name="twitter:description" content="Uttamb Solutions offers top-notch web development, e-commerce, fuel card system, forecought management system, fcs, fms, fuel management system, and digital marketing services. Explore our blogs and contact us for more information." />
    <meta name="twitter:image" content="https://uttambsolutions.com/images/uttambsolutionlogo.png" />

    <!-- Schema.org Markup for Google+ -->
    <meta itemprop="name" content="@ViewData["Title"] - Uttamb Solutions" />
    <meta itemprop="description" content="Uttamb Solutions offers top-notch web development, e-commerce, fuel card system, forecought management system, fcs, fms, fuel management system, and digital marketing services. Explore our blogs and contact us for more information." />
    <meta itemprop="image" content="https://uttambsolutions.com/images/uttambsolutionlogo.png" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link href="~/lib/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB.styles.css" asp-append-version="true" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2850934153859537"
            crossorigin="anonymous"></script>
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white bg-custom">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/uttambsolutionlogo.png" alt="Uttambsolutions Logo" class="brand-image elevation-3">
                    <span class="brand-text font-weight-light text-white fw-bold text-uppercase">47 News</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Right navbar links for large screens -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto d-none d-md-flex">
                    <li class="nav-item">
                        <a asp-action="Signin" asp-controller="Account" asp-area="" class="nav-link text-white fw-bold text-uppercase">SIGNIN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="content-wrapper" style="padding-top: 58px;">
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title ">@Model.Blogname</h2>
                                <p class="card-text">@Model.Summary</p>
                                <img src="@Url.Content(Model.Blogprimaryimageurl)" alt="@Model.Blogcategoryname" class="card-img-top mb-3" style="object-fit: cover;" />
                                <p class="card-text">@Model.Blogcontent</p>

                                @if (Model.Systemblogparagraph.Any())
                                {
                                    bool alternate = false;
                                    foreach (var paraGraph in Model.Systemblogparagraph)
                                    {
                                        if (alternate)
                                        {
                                            <div class="media mb-3">
                                                <div class="media-body">
                                                    <p>@paraGraph.Blogparagraphcontent</p>
                                                </div>
                                                <img src="@Url.Content(paraGraph.Blogparagraphimageurl)" class="ml-3" alt="@Model.Blogcategoryname" style="width: 200px; object-fit: cover;">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="media mb-3">
                                                <img src="@Url.Content(paraGraph.Blogparagraphimageurl)" class="mr-3" alt="@Model.Blogcategoryname" style="width: 200px; object-fit: cover;">
                                                <div class="media-body">
                                                    <p>@paraGraph.Blogparagraphcontent</p>
                                                </div>
                                            </div>
                                        }
                                        alternate = !alternate;
                                    }
                                }
                            </div>
                            <div class="card-footer bg-white">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="card-text">Author: @Model.Blogownername</p>
                                        <p class="card-text">Category: @Model.Blogcategoryname</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="card-text">Published On: @Model.Datecreated</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Related Articles</h5>
                            </div>
                            <div class="card-body">
                                <!-- Related articles logic here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
