@model DBL.Models.Systemblogdata

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (Model != null && Model.Systemblogs != null)
    {
        foreach (var blogPost in Model.Systemblogs)
        {
            <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                <a asp-action="Blogdetails" asp-controller="Home" asp-route-code="@Guid.NewGuid()" asp-route-Blogid="@blogPost.Blogid" asp-area="" class="text-decoration-none">
                    <div class="card h-100 shadow-sm card-info card-outline">
                        <img src="@Url.Content(blogPost.Blogprimaryimageurl)" alt="@blogPost.Blogcategoryname" class="card-img-top" style="height: 140px; object-fit: cover;" />
                        <div class="card-body pt-2 pr-2 pl-2 d-flex flex-column">
                            <h6 class="card-text text-custom text-uppercase text-sm" title="@blogPost.Blogname">@blogPost.Truncatedblogname</h6>
                            <p class="card-text text-muted text-truncate text-wrap text-sm" title="@blogPost.Summary">@blogPost.Truncatedblogsummary</p>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="card-text text-muted text-xs" title="Author: @blogPost.Blogownername">Author: @blogPost.Blogownername</p>
                                </div>
                                <div class="col-sm-7">
                                    <p class="card-text text-muted text-xs" title="Published On: @blogPost.Datecreated">Published On: @blogPost.Datecreated</p>
                                </div>
                            </div>
                          </div>
                        <div class="card-footer bg-white">
                            <div class="d-flex justify-content-center">
                                <a href="https://twitter.com/intent/tweet?url=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> Twitter</a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i> Facebook</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <p class="text-center">No blogs available at the moment.</p>
    }
</div>
<!-- Uttambsolutionsdisplayad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="1149686671"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> 
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="8445437350"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="8445437350"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-6b+by+d-1s+li"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="1596995960"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>