@model DBL.Models.Systemblogdata

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (Model != null && Model.Systemblogs != null)
    {
        int blogCount = 0; // Counter to track the number of blog posts
        foreach (var blogPost in Model.Systemblogs)
        {
            // Blog post card
            <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                <a asp-action="Blogdetails" asp-controller="Home" asp-route-code="@Guid.NewGuid()" asp-route-Blogid="@blogPost.Blogid" asp-area="" class="text-decoration-none">
                    <div class="card h-100 shadow-sm card-info card-outline">
                        <img src="@Url.Content(blogPost.Blogprimaryimageurl)" alt="@blogPost.Blogcategoryname" class="card-img-top" style="height: 140px; object-fit: cover;" />
                        <div class="card-body pt-2 pr-2 pl-2 d-flex flex-column">
                            <h6 class="card-text text-custom text-uppercase text-sm" title="@blogPost.Blogname">@blogPost.Truncatedblogname</h6>
                            <p class="card-text text-muted text-truncate text-wrap text-sm" title="@blogPost.Summary">@blogPost.Truncatedblogsummary</p>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="card-text text-muted text-xs" title="Author: @blogPost.Blogownername">Author: @blogPost.Blogownername</p>
                                </div>
                                <div class="col-sm-7">
                                    <p class="card-text text-muted text-xs" title="Published On: @blogPost.Datecreated">Published On: @blogPost.Datecreated</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="d-flex justify-content-center">
                                <a href="https://twitter.com/intent/tweet?url=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> Twitter</a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom mr-2" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i> Facebook</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://fortysevennews.uttambsolutions.com/Home/Blogdetails?Blogid=@(blogPost.Blogid)" class="btn btn-xs btn-custom" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i> LinkedIn</a>                              
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="https://downloads37881.srvdowns.com/direct/?cod=37881&name=Download" class="btn btn-xs btn-custom mr-2 mt-2 text-white" rel="noopener noreferrer">Earn loyalty Points</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            // Increment the counter
            blogCount++;

            // Insert advertisement after every 3 blog posts
            if (blogCount % 4 == 0 && blogCount < Model.Systemblogs.Count)
            {
                <div class="col-12 mb-3">
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5600633497493641"
                         data-ad-slot="1149686671"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            }
        }
    }
    else
    {
        <p class="text-center">No blogs available at the moment.</p>
    }
</div>

<!-- Uttambsolutionsdisplayad -->
<div class="row mb-4">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5600633497493641"
         data-ad-slot="1149686671"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="row mb-4">
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-5600633497493641"
         data-ad-slot="8445437350"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="row mb-4">
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-5600633497493641"
         data-ad-slot="8445437350"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="row mb-4">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-6b+by+d-1s+li"
         data-ad-client="ca-pub-5600633497493641"
         data-ad-slot="1596995960"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>