@model DBL.Entities.SystemOrganization
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Organizations</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.OrganizationId" id="OrganizationId" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="font-weight-light">Organization Name</label>
                <input class="form-control form-control-sm" asp-for="@Model.OrganizationName" id="OrganizationNameid" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Organization Type</label>
                <select class="form-control form-control-sm" asp-for="@Model.OrganizationTypeId" id="OrganizationTypeId">
                    <option value="0">---Select Type---</option>
                    <option value="1">Page</option>
                    <option value="2">Group</option>
                    <option value="3">Company</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Organization Phone</label>
                <input class="form-control form-control-sm" type="tel" asp-for="@Model.OrganizationPhone" id="OrganizationPhoneid" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Organization Email</label>
                <input class="form-control form-control-sm" type="email" asp-for="@Model.OrganizationEmail" id="OrganizationEmailid" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Organization Description</label>
                <textarea class="form-control form-control-sm" asp-for="@Model.OrganizationDescription" id="OrganizationDescriptionid"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Organization Logo</label>
                <input type="file" class="form-control form-control-sm font-weight-light" onchange="systemorganizationcompanychanged(event)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" hidden>
            <div class="form-group">
                <label class="font-weight-light">Images Url</label>
                <input class="form-control form-control-sm" id="UttambsolutionsimageurlId" readonly />
            </div>
        </div>
        <div class="col-sm-6">
            <h6>Current Document</h6>
            <img src="@Url.Content(Model.OrganizationLogo)" height="140" width="140" />
        </div>
        <div class="col-sm-6">
            <h6>Document to Replace</h6>
            <div id="Uttambsolutionsimagespreviewcontainer"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystemorganizationid" onclick="savesystemorganizationdata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
