@model DBL.Entities.Systemblog
@{
    var Systemblogcategory = ViewData["Systemblogcategorylists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Blog Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Section 1: Blog Details -->
    <div id="section1" class="section">
        <h6>Step 1: Blog Details</h6>
        <div class="row">
            <div class="col-sm-12">
                <input asp-for="@Model.Blogid" id="Blogid" hidden />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="font-weight-light">Blog Title</label>
                    <textarea class="form-control form-control-sm" asp-for="@Model.Blogname" id="Blognameid" required></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-weight-light">Category</label>
                    <select class="form-control form-control-sm" asp-for="@Model.Blogcategoryid" asp-items="Systemblogcategory" id="Blogcategoryidid" required>
                        <option value="">---Select---</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light">Blog Summary</label>
                    <textarea class="form-control form-control-sm" asp-for="@Model.Summary" id="Summaryid" required></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light">Blog Content</label>
                    <textarea class="form-control form-control-sm" asp-for="@Model.Blogcontent" id="Blogcontentid" required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light">Blog Tags</label>
                    <input class="form-control form-control-sm" asp-for="@Model.Blogtags" id="Blogtagsid" required />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-weight-light">Blog Primary Image</label>
                    <input class="form-control form-control-sm font-weight-light" type="file" onchange="systemBlogFileChanged(event)" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" hidden>
                <div class="form-group">
                    <label class="font-weight-light">Images Url</label>
                    <input class="form-control form-control-sm" id="UttambsolutionsimageurlId" readonly />
                </div>
            </div>
            <div id="Uttambsolutionsimagespreviewcontainer"></div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-right" onclick="nextSection()">Next</button>
    </div>

    <!-- Section 2: Product Features -->
    <div id="section2" class="section" style="display: none;">
        <h6>Step 2: Blog Paragraphs</h6>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12" hidden>
                                <input class="form-control form-control-sm font-weight-light" id="ProductFeatureId" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="font-weight-light">Paragraph</label>
                                    <textarea class="form-control form-control-sm font-weight-light" id="SystemblogparagraphId"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="font-weight-light">Paragraph Primary Image</label>
                                    <input class="form-control form-control-sm font-weight-light" type="file" onchange="systemBlogParagraphFileChanged(event)" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" hidden>
                                <div class="form-group">
                                    <label class="font-weight-light">Images Url</label>
                                    <input class="form-control form-control-sm" id="UttambsolutionsparagraphimageurlId" readonly />
                                </div>
                            </div>
                            <div id="Uttambsolutionsparagraphimagespreviewcontainer"></div>
                        </div>
                        <button class="btn btn-sm btn-info font-weight-bold float-right" onclick="addshopproductfeaturedata()">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap font-weight-light w-100" id="SystemBlogListTable">
                    <thead>
                        <tr>
                            <th hidden></th>
                            <th hidden></th>
                            <th>IMAGE</th>
                            <th>PARAGRAPH</th>
                            <th class="text-right">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*  @if (Model.Shopproductfeature != null)
                        {
                        foreach (var data in Model.Shopproductfeature)
                        {
                        <tr>
                        <td hidden>@data.ProductFeatureId</td>
                        <td hidden>@data.ShopProductId</td>
                        <td>@data.ProductFeature</td>
                        <td class="text-right"><button class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main m-1" onclick="editshopproductfeaturedata(this.parentNode.parentNode)">Edit</button><button class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main m-1" onclick="updateshopproductfeaturedata(this.parentNode.parentNode)">Update</button></td>
                        </tr>
                        }
                        } *@
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" onclick="prevSection()">Previous</button>
        <button class="btn btn-sm btn-info font-weight-bold float-right" type="button" id="savesystemblogid" onclick="savesystemblogdata();">
            <span id="buttonText">SAVE</span>
            <span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
        </button>
    </div>
</div>
